<div class='row'>
  <div id="map" class='span12'>
    <div id="address" class='span4'>
      <h1>Monthly Meetup</h1>
      <table>
        <tr>
          <td><i class='icon-time'></i></td>
          <td><h3><time>7:00p</time> to <time>9:00p</time> Second Wednesday of the Month</h3></td>
        </tr>
        <tr>
          <td><i class='icon-map-marker'></i></td>
          <td>
            <address>
              <h3>Centergy Building</h3>
              75 5th St NW, Third floor, Hodges Room,<br />
              Atlanta, GA 30308
            </address>
          </td>
        </tr>
      </table>

      <h2> Scheduled Speakers </h2>

      <p><%= link_to "Please sign up to give a talk", talks_path %>.

      <p> TBA </p>

      <p> MISSING MAP BELOW </p>

    <div class='span8'>
      <iframe height="200" frameborder="" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=75+5th+St+NW,+,+Atlanta,+GA&hl=en&sll=34.044983,-84.340347&sspn=0.243512,0.500565&hnear=75+5th+St+NW,+Atlanta,+Fulton,+Georgia+30308&t=m&z=17;output=embed"></iframe>
    </div>
  </div>
</div>
